.formacion{
 display: flex;
padding: 82px;
flex-direction: column;
align-items: center;
gap: 32px;
background: linear-gradient(#117a65, #138d75);
}
.formacion__titulo{
    color:  #fff;
    text-align: center;
    font-size: 32px;
    font-family: Raleway;
    font-weight: 700;
}
.formacion__cursos{
    display: flex;
    gap: 16px;
   
}
.formacion__caja__cursos{
    padding: 0 30px;
    background-color: #fff;
    border-radius: 15px;
    border: 5px solid #9dd5ca;
    width: 100%;
}
.formacion__lista__cursos{
    display: flex;
flex-direction: column;

gap: 8px;
}
.formacion__cursos__item__img{
    width: 190px;
height: 130px;
flex-shrink: 0;
list-style: none;
}
.formacion__imagen{
    width: 190px;
    height: 130px;
}
.formacion__cursos__item__titulo{
    color:  #117a65;
font-family: Raleway;
width: 150px;
}
.formacion__cursos__item__subtitulos{
    color: #117a65;
font-size: 16px;
font-family: Raleway;
font-weight: 500;
list-style: none;

}

@media (width <= 767px) {
    .formacion__cursos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    .formacion__caja__cursos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
